/*
#d3ebef
rgb(110,234,241) | #6eeaf1

*/

.hexagon {
    /* Should be 7/8 e.g. 280x320 */
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.text-shadow-lb {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6eeaf1,
        0 0 30px #6eeaf1, 0 0 40px #6eeaf1, 0 0 55px #6eeaf1, 0 0 75px #6eeaf1,
        2px 2px 2px rgba(110, 234, 241, 0);
}

#Button-1 {
    filter: drop-shadow(10px 15px 4px rgb(150, 234, 241))
        drop-shadow(0px 0px 10px #6eeaf1);
    transition: all 0.2s;
}

#Button-1.hover {
    filter: drop-shadow(5px 10px 4px rgb(150, 234, 241))
        drop-shadow(0px 0px 10px #6eeaf1);
    transform: translate(5px, 5px);
}
